.direnv/
target
result
flake.lock
/node_modules
dist
.env
.env.local
.env.*.local
.vscode/
.DS_Store
*.log
*.tsbuildinfo
coverage/
.idea/
*.iml
out/
build/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.rej
*.class
*.war
